# TypeScript files
src

# Build
build/*.ts
build/demo.js

# Editor
.vscode

# System
.DS_Store

.eslintrc.cjs
.gitignore
.prettierignore
.prettierrc
babel.config.cjs
config.json
jest-resolver.cjs
jest.config.js
tsconfig.json